<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371182565012-ds2vo1bjrmpn15etr4vi6e712s70lgfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371182565012-ds2vo1bjrmpn15etr4vi6e712s70lgfq</string>
	<key>API_KEY</key>
	<string>AIzaSyBUCSXxIlMqWktXOr6Z_aLol7mb5aE65mc</string>
	<key>GCM_SENDER_ID</key>
	<string>371182565012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gizemmm.RestaurantFinalApp</string>
	<key>PROJECT_ID</key>
	<string>restaurantfinalapp-2</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantfinalapp-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371182565012:ios:6be831a11fa9492ab66681</string>
	<key>DATABASE_URL</key>
	<string>https://restaurantfinalapp-2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>